body, h4, h5 {font-family: 'Open Sans', sans-serif;}            
.display-6 {color: #03A9F4;}
.btn-create, .btn-create:hover, .btn-create:active, .btn-create:visited { color: white; background-color: #7986CB !important; }
.btn-share, .btn-share:hover, .btn-share:active, .btn-share:visited { color: white; background-color: #B388FF !important; }
.btn-download, .btn-download:hover, .btn-download:active, .btn-download:visited { color: white; background-color: #1E88E5 !important; }