<!doctype html><meta charset=utf-8>
<html>
    <head>
        {{ template "links.html" }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="display-6" onclick="location.href='/';">
                    <i class="bi bi-music-note"></i>
                    Muse
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 mb-3">
                    <p>
                        Write a music score and create music from it!
                    </p>        
                    <form action="/create" id="create" method="post">
                        <div class="mb-3">
                            <textarea id="score" name="score" class="score">
---
name: C major scale with C major chord progression
key: C
length: 0.5
envelope: round
harmonic: first
volume: 5000
sections: [
    { 
    envelope: drawl,
    volume: 2000,
    C1: [c4, d4, e4, f4],
    C2: [2:c4-e4-g4, 2:f4-a4-c4],
    },
    { 
    harmonic: second,
    C1: [g4, a4, b4, c5],
    C2: [2:g4-b4-d4, 2:z],
    }  
]</textarea>
                        </div>
                        <div class="d-grid gap-2 d-md-block mt-3">
                            <button type="submit" class="btn btn-create">
                                create
                                <i class="bi bi-music-note"></i>
                            </button>
                        </div>
                    </form>
                </div>
                {{ template "try.html" }}
            </div>
        </div>        
        <script src="/static/js/codemirror.js"></script>
        <script src="/static/js/yaml.js"></script>
        <script src="/static/js/muse.js"></script>
    </body>
</html>