<!doctype html><meta charset=utf-8>
<html>
    <head>
        {{ template "links.html" }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="display-6" onclick="location.href='/';">
                    <i class="bi bi-music-note"></i>
                    Muse
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 mb-3">
                    <p>
                        Write a music score and create music from it!
                    </p>        
                    <form action="/create" id="create" method="post">
                        <div class="mb-3">
                            <textarea id="score" name="score" class="prism-live language-js fill" style="--height: 30em; --max-height: 30em">
---
name: My Music
key: C
length: 0.25
envelope: round
sections: [
    # my comments
    {
    C1: [],
    C2: []
    },
    { 
    C1: [],
    C2: []
    },
]                            
                            </textarea>
                        </div>
                        <div class="d-grid gap-2 d-md-block mt-3">
                            <button type="submit" class="btn btn-create">
                                create
                                <i class="bi bi-music-note"></i>
                            </button>
                        </div>
                    </form>
                </div>
                {{ template "try.html" }}
            </div>
        </div>        
        <script src="https://blissfuljs.com/bliss.shy.min.js"></script>
        <script src="https://prismjs.com/prism.js"></script>
        <script src="https://prismjs.com/plugins/line-numbers/prism-line-numbers.js"></script>
        <script src="/static/js/prism-live.js"></script>
        <script src="/static/js/prism-live-markup.js"></script>
        <script src="/static/js/prism-live-css.js"></script>
        <script src="/static/js/prism-live-javascript.js"></script>
    </body>
</html>