<!doctype html><meta charset=utf-8>
<html>
    <head>
        {{ template "links.html" }}    
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="display-6 col-6" onclick="location.href='/';">
                    <i class="bi bi-music-note"></i>
                    Muse
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h4>
                        {{ .Name }}
                    </h4>    
                    {{ if gt (len .Message) 0}}
                    <p class="text-danger">
                        {{ .Message }}
                    </p>
                    {{ end }}
                    <form action="/create" id="create" method="post">
                        <div class="mb-3">
                            <textarea id="score" name="score" style="--height: 30em; --max-height: 30em">{{ .Score }}</textarea>
                        </div>
                        <div class="d-grid gap-2 d-md-block mt-3">
                            <button type="submit" class="btn btn-create">
                                create
                                <i class="bi bi-music-note"></i>
                            </button>
                            {{ if eq (len .Message) 0 }}
                            <a class="btn btn-share" href="/share/{{ .ID }}">
                                share
                                <i class="bi bi-share"></i>
                            </a>                            
                            <a class="btn btn-download"  href="/static/tunes/{{ .ID }}.wav" download="{{.Name}}.wav">
                                download
                                <i class="bi bi-download"></i>
                            </a>
                            {{ end }}
                        </div>
                    </form>
                    {{ if eq (len .Message) 0 }}
                    <div class="row mt-4">
                        <audio controls src="{{ .Filename }}" id="audiocontrol">
                            Your browser does not support the <code>audio</code> element.
                        </audio>                         
                    </div>
                    {{ end }}
                </div>
                {{ template "try.html" }}
            </div>

        </div>        
        <script src="/static/js/codemirror.js"></script>
        <script src="/static/js/yaml.js"></script>
        <script src="/static/js/muse.js"></script>
    </body>
</html>