<!doctype html><meta charset=utf-8>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://prismjs.com/themes/prism.css">     
        <link rel="stylesheet" href="/static/css/prism-live.css" > 
        <link rel="stylesheet" href="/static/css/style.css" > 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container mt-3">
            <div class="row">
                <div class="display-6 col-6" onclick="location.href='/';">
                    <i class="bi bi-music-note"></i>
                    Muse
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h4>
                        {{ .Name }}
                    </h4>    
                    {{ if gt (len .Message) 0}}
                    <p class="text-danger">
                        {{ .Message }}
                    </p>
                    {{ end }}
                    <form action="/create" id="create" method="post">
                        <div class="mb-3">
                            <textarea id="score" name="score" class="prism-live language-js fill" style="--height: 30em; --max-height: 30em">{{ .Score }}</textarea>
                        </div>
                        <div class="d-grid gap-2 d-md-block mt-3">
                            <button type="submit" class="btn btn-create">
                                create
                                <i class="bi bi-music-note"></i>
                            </button>
                            {{ if eq (len .Message) 0 }}
                            <a class="btn btn-share" href="/share/{{ .ID }}">
                                share
                                <i class="bi bi-share"></i>
                            </a>                            
                            <a class="btn btn-download"  href="/static/tunes/{{ .ID }}.wav" download="{{.Name}}.wav">
                                download
                                <i class="bi bi-download"></i>
                            </a>
                            {{ end }}
                        </div>
                    </form>
                    {{ if eq (len .Message) 0 }}
                    <div class="row mt-4">
                        <audio controls src="{{ .Filename }}" id="audiocontrol">
                            Your browser does not support the <code>audio</code> element.
                        </audio>                         
                    </div>
                    {{ end }}
                </div>
                <div class="col-sm-3 mt-3">
                    <h5>Try these!</h5>
                    <ul>
                        <li><a href="/sample/every">Every Breath You Take</a></li>
                        <li><a href="/sample/tears">Tears in Heaven</a></li>
                        <li><a href="/sample/beauty">Beauty and the Beast</a></li>
                        <li><a href="/sample/cheek">Cheek to Cheek</a></li>
                        <li><a href="/sample/sweet">Sweet Child O'Mine</a></li>

                    </ul>                    
                </div>
            </div>

        </div>        
        <script src="https://blissfuljs.com/bliss.shy.min.js"></script>
        <script src="https://prismjs.com/prism.js"></script>
        <script src="/static/js/prism-live.js"></script>
        <script src="/static/js/prism-live-markup.js"></script>
        <script src="/static/js/prism-live-css.js"></script>
        <script src="/static/js/prism-live-javascript.js"></script>
    </body>
</html>